/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_mixins.scss';

.background-image {
  min-height: $one-hundred-percent;
  min-width: 1024px;
  width: $one-hundred-percent;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.nav-bar {
  width: $one-hundred-percent;
  @include display-flex-row();
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  background-color: $nav-bar-background-color;
  position: fixed;
  top: 0;
  height: 8vh;
  margin: 0;
  z-index: 9999;
  left: 0;
  color: $nav-bar-font-color;
}

.nav-bar-title-button {
  position: absolute;
  left: 10px;
  border: none;
  background: none;
  color: $nav-bar-font-color;
  font-size: 20px;
}

.nav-bar-button-container {
  margin-right: 1%;
}

.dashboard {
  // display: flex;
  // justify-content: center;
  // align-content: center;
  // margin: 10vh;
  // height: 70%;
  // width: 70%;
  display: flex;
  justify-content: space-around;
  margin-top: 18vh;
  height: 80vh;
}

.past-visits-container,
.upcoming-visits-container {
  height: 76%;
  width: 39%;
  background-color: $white;
}

.past-visits-header-container,
.upcoming-visits-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13%;
  background-color: $nav-bar-background-color;
}

.past-visits-header,
.upcoming-visits-header {
  margin: 0;
  font-size: 25px;
}

.hidden {
  display: none;
}