/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_mixins.scss';

.background-image {
  min-height: $one-hundred-percent;
  min-width: 1024px;
  width: $one-hundred-percent;
  height: auto;
  position: fixed;
  @include top-left-zero();
  z-index: -1;
}

.nav-bar {
  width: $one-hundred-percent;
  @include display-flex-row();
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  background-color: $gold;
  position: fixed;
  @include top-left-zero();
  height: 8vh;
  margin: 0;
  color: $black;
}

.nav-bar-title-button {
  position: absolute;
  left: 10px;
  border: none;
  background: none;
  color: $black;
  font-size: 20px;
}

.nav-bar-button-container {
  margin-right: 1%;
}

.greeting {
  margin-right: 5%;
}

.nav-dashboard-button,
.available-rooms-button,
.submit-button,
.login-button {
  border-radius: 8px;
  border: none;
  background-color: #a8772d;
  height: 3vh;
}

.beige {
  background-color: $beige;
}

.dashboard {
  @include display-flex-justify-space-around();
  margin-top: 18vh;
  height: 80vh;
}

.past-visits-container,
.upcoming-visits-container,
.available-rooms-container {
  height: 76%;
  width: 39%;
  background-color: $white;
}

.past-visits-header-container,
.upcoming-visits-header-container,
.available-rooms-header-container {
  @include display-flex-justify-center-align-center();
  height: 13%;
  background-color: $gold;
}

.available-rooms-header-container {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.booking-for-date-message {
  margin: 1%;
}

.past-visits-header,
.upcoming-visits-header,
.available-rooms-header {
  margin: 0;
  font-size: 25px;
}

.past-visits-cards-container,
.upcoming-visits-cards-container,
.available-rooms-cards-container {
  height: 44vh;
  margin-top: 4vh;
  overflow: auto;
}

.past-visits-card,
.upcoming-visits-card,
.available-rooms-card {
  @include display-flex-justify-space-around();
  align-items: center;
  height: 13vh;
  background-color: $gold;
  margin: 1.5vh;
}

.available-rooms-card {
  @include display-flex-justify-space-between();
}

.available-rooms-image {
  width: 22%;
  height: auto;
  margin-left: 1vh;
}

.room-number,
.date-stayed {
  font-size: $one-hundred-percent;
}

.book-now-button,
.confirm-button,
.cancel-button,
.close-modal-button {
  margin-bottom: 1.5vh;
  border-radius: 8px;
  border: none;
  background-color: #a8772d;
  height: 3vh;
}

.cancel-button {
  background-color: $light-grey;
}

button {
  cursor: pointer;
}

.room-type-and-price-container,
.price-and-book-container {
  @include display-flex-column-space-between();
  font-size: 10px;
  height: 13vh;
  margin-right: 3vh;
}

.apologetic-message-container {
  width: $one-hundred-percent;
  height: 5vh;
  line-height: 5vh;
  background-color: #d9b382;
  margin-top: 9vh;
  text-align: center;
}

.confirm-booking-modal-container,
.login-view-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: $one-hundred-percent;
  height: $one-hundred-percent;
  overflow: auto;
  background-color: $background-modal-color;
  display:flex;
  justify-content: center;
  align-items: center;
}

.confirm-booking-modal {
  display: block;
  height: 40%;
  width: 40%;
  background-color: $white;
  text-align: center;
  vertical-align: middle;
  line-height: 131px;
  font-size: 20px;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 40%;
  background-color: $white;
}

.login-form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10%;
}

.username-input,
.password-input {
  margin-bottom: 10px;
}

.show-password-container {
  margin-top: 20px;
}

.login-error-message {
  margin: 0 0 7vh 0;
}

.empty-available-rooms-contianer {
  text-align: center;
}

.hidden {
  display: none;
}